<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay In Shape</title>
    <h1>InceptionU Project1</h1>
    <h2>Stay In Shape</h2>
    
</head>
<body>
    <h3 id="welcomeMsc">Welcome to "Stay In Shape" game!</h3>
     
<div id="goal"></div>

<div id="info">
<form action="/breakfast/lists" method="GET">
<p>Hello, {{this.Name}}</p>
</br>
<p>You have chosen gender: {{this.Gender}}</p>
<p>Your recommanded total calories intake is <b>{{this.GoalCalorie}}kcal</b></p>
<p>Also, try to keep the ratios:</p>
<p>Carbonate Ratio: {{this.CalRatio}}</p>
<p>Protein Ratio: {{this.ProteinRatio}}</p>
<p>Fat Ratio: {{this.FatRatio}}</p>

</div>


<button type="submit" name="name" value="{{this.Name}}">Game start!</button>
</form>

</body>
</html>