
   
    <form action="/snack/lists" method="GET">
        <label>Choose one.</label>
        <ul>
        {{#each lunch}}
         <li>
             <input type=radio name='options' value='{{this.name}}'/><span>{{this.name}}</span></br>
         <small> Carbonate: {{this.carbCal}}kcal, Protein: {{this.proteinCal}}kcal, Fat: {{this.fatCal}}kcal</br></small></span>
         {{/each}}
         <input type=radio name='options' value='Random'/><span>Random</span></br>
         </li>
        </ul>   
        {{#each userData}}
         <button type="submit" name="name" value="{{this.Name}}">Go for snack!</button>
        {{/each}}
    </form>

  
