
   
    <form action="/gym/lists" method="GET">
        <label>Finally, you've finished your work. You are getting hungry. Maybe, your lunch was not enough for you! Eat something.</label>
        <ul>
        {{#each snack}}
         <li>
             <input type=radio name='options' value='{{this.name}}'/><span>{{this.name}}</span></br>
         <small> Carbonate: {{this.carbCal}}kcal, Protein: {{this.proteinCal}}kcal, Fat: {{this.fatCal}}kcal</br></small></span>
         </li>
         {{/each}}
        </ul>   
        {{#each userData}}
         <button type="submit" name="name" value="{{this.Name}}">Go to gym</button>
        {{/each}}
    </form>

  
