
   
    <form action="/lunch/YN" method="GET">
        <label>You found a Starbucks on the way. You must need coffee to keep you awake!</label>
        <ul>
        {{#each starbucks}}
         <li>
             <input type=radio name='options' value='{{this.name}}'/><span>{{this.name}}</span></br>
         <small> Carbonate: {{this.carbCal}}kcal, Protein: {{this.proteinCal}}kcal, Fat: {{this.fatCal}}kcal</br></small></span>
         {{/each}}
         <input type=radio name='options' value='Random'/><span>Random</span></br>
         </li>
        </ul> 
        {{#each userData}}  
         <button type="submit" name="name" value="{{this.Name}}">Go to work</button>
        {{/each}}
    </form>

  
